[defaults]
inventory = inventory/all-in-one
roles_path = ansible/roles
host_key_checking = False
retry_files_enabled = False
collections_paths = ~/.ansible/collections:/usr/share/ansible/collections
forks = 10
pipelining = True
stdout_callback = default
bin_ansible_callbacks = True
timeout = 30
interpreter_python = /usr/bin/python3
[privilege_escalation]
become = True
become_method = sudo
become_user = root
